default: &default
  adapter: postgresql
  timeout: 5000
  username: <%= ENV.fetch("FEMBOYFANS_DB_USER", "femboyfans") %>

development:
  <<: *default
  database: <%= ENV.fetch("FEMBOYFANS_DB_NAME", "femboyfans_development") %>
  host: postgres
  pool: 5

test:
  <<: *default
  database: test
  host: postgres
  pool: 5

<% if Rails.env.production? %>
production:
  <<: *default
  database: <%= ENV.fetch("FEMBOYFANS_DB_NAME", "femboyfans") %>
  password: <%= ENV.fetch("FEMBOYFANS_DB_PASSWORD", "") %>
  host: <%= ENV.fetch("FEMBOYFANS_DB_HOST", "postgres") %>
  port: <%= ENV.fetch("FEMBOYFANS_DB_PORT", 5432) %>
  pool: <%= Sidekiq.server? ? ENV.fetch("FEMBOYFANS_DB_WORKER_POOL_SIZE", 5) : ENV.fetch("FEMBOYFANS_DB_POOL_SIZE", 5) %>
<% end %>
